.container {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 10px;
  cursor: pointer;
}

.title {
  font-size: 18px;
  font-weight: 600;
}

.info {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}
