.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  border-left: 1px solid black;
  height: 100vh;
  width: 25vw;
}

.detail {
  width: 100%;
  height: 60vh;
}

.logs {
  width: 100%;
  height: 40vh;
  overflow: auto;
}
