<div class="container">
  <div class="content">
    <div class="titleBar">
      <h2>{{ formMode }} Tarefa</h2>
      <button (click)="closeModal()">X</button>
    </div>

    <form [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off">
      <div class="inputContainer">
        <div class="formInput">
          <label for="title">Titulo</label>
          <input
            type="text"
            id="title"
            name="title"
            formControlName="title"
            [placeholder]="
              form.get('title')?.hasError('required')
                ? 'Titulo é obrigatório'
                : ''
            "
            [ngStyle]="
              form.get('title')?.hasError('required')
                ? { border: '1px solid red' }
                : { border: '1px solid black' }
            "
          />
        </div>

        <div class="formInput">
          <label for="description">Descrição</label>
          <textarea
            name="description"
            id="description"
            formControlName="description"
            [placeholder]="
              form.get('description')?.hasError('required')
                ? 'Descrição é obrigatória'
                : ''
            "
            [ngStyle]="
              form.get('description')?.hasError('required')
                ? { border: '1px solid red' }
                : { border: '1px solid black' }
            "
          ></textarea>
        </div>

        <div class="formInput">
          <label for="expectedConclusion">Previsão de Conclusão</label>
          <input
            type="text"
            id="expectedConclusion"
            name="expectedConclusion"
            formControlName="expectedConclusion"
            appDateMask
            maxlength="10"
            [placeholder]="
              form.get('expectedConclusion')?.hasError('required')
                ? 'Previsão de Conclusão é obrigatória'
                : ''
            "
            [ngStyle]="
              form.get('expectedConclusion')?.hasError('required')
                ? { border: '1px solid red' }
                : { border: '1px solid black' }
            "
          />
          <p
            class="erro"
            *ngIf="form.get('expectedConclusion')?.hasError('dateLessToday')"
          >
            Data não pode ser menor que o dia atual.
          </p>
        </div>

        <div class="formInput">
          <label for="price">Preço</label>
          <input
            type="number"
            name="price"
            id="price"
            formControlName="price"
            [placeholder]="
              form.get('price')?.hasError('required')
                ? 'Preço é obrigatório'
                : ''
            "
            [ngStyle]="
              form.get('price')?.hasError('required')
                ? { border: '1px solid red' }
                : { border: '1px solid black' }
            "
          />
        </div>

        <div class="formInput" *ngIf="formMode === 'Editar'">
          <label for="status">Status</label>
          <select name="status" id="status" formControlName="status">
            <option *ngFor="let option of selectOptions" value="{{ option }}">
              {{ option }}
            </option>
          </select>
        </div>
      </div>

      <button type="submit">Salvar</button>
    </form>
  </div>
</div>
